<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Bucketlist</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">BucketList</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="register.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron">
      <h2>Welcome To The BucketList</h2>
      <p>What would you like to do in the next few years? Climb a mountain? Learn to ride a bike?</p>
      <p><a href="login.html">Login</a> or <a href="register.html">Register</a> to keep track of your bucket lists</p>
    </div>
      <div class="container">
        <h3>Top Buckets</h3>
        <hr>
      
      <div class="row">
        <div class="col-sm-4">
          <div class="panel-body">
          <h2>Bucket One</h2>
        </div>
      </div>
    
   
        <div class="col-sm-4">
          <div class="panel-body">
          <h2>Bucket One</h2>
        </div>
      </div>
        <div class="col-sm-4">
          <div class="panel-body">
          <h2>Bucket One</h2>
        </div>
      </div>
      </div>
      </div>
      <br>
      <hr>
      <footer class="footer"> 
        <div class="container">
          <p>Copyright 2017 by BucketList Inc.</p>
        </div>
      </footer>


</body>
</html>
