<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Bucketlist</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    body{
      background-image: url("../static/images/cover1.jpg");
      
      background-size: cover;
     
    }
    .jumbotron{
      background: rgba(0, 100, 200, 0.5);
      margin-top: 220px;
      border-radius: 4px;
      color: black;

    }
  </style>
</head>
<body>

    <div class="jumbotron">
      <h2>Welcome To The BucketList</h2>
      <p>What would you like to do in the next few years? Climb a mountain? Learn to ride a bike?</p>
      <p><a href="/login" class="btn btn-primary">Login</a> or <a href="/register" class="btn btn-primary">Register</a> to keep track of your bucket lists</p>
    </div>


</body>
</html>
