<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Bucketlist</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="dashboard.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">BucketList</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/dashboard">Home</a></li>
          <li><a href="#">Buckets</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/dashboard"><span class="glyphicon glyphicon-user"></span> My account</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </nav>


    <div class="container">
    <h3></h3>
    <table class="table table-striped">
          <thead>
            <tr>
              <th>Activity</th>
              <th>Done</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr id="">
              <td>
              </td>
              <td>
              </td>
              
              <td>
                  <button class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                  <a class="btn btn-default delete-btn" delete-ref="">delete</a>
              </td>
            </tr>
          </tbody>
        </table>
        <hr>
         <form class="form col-md-6" method="POST", action="/dashboard/{{data['current_bucket']}}/add_activity">
          <div class="form-group form-inline">
            <label for="email">Bucket Title</label>
            <input type="text" class="form-control" id="title" name="bucket" value="{{ request.form.activity }}">
            <button class="btn btn-primary">Add Activity</button>
          </div>
         </form>
</div><br>


</body>
</html>